@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "Aeonik Pro TRIAL";
  src: url(./Aeonik.otf);
}
@font-face{
  font-family: "Monument Grotesk";
  src: url(./Monument.ttf);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@layer base {
  @layer base {
    .arrorback {
      @apply w-[30px] h-[30px]; /* Default size */
    }
  
    @screen sm {
      .arrorback {
        @apply w-[35px] h-[35px]; /* Small screens */
      }
    }
  
    @screen md {
      .arrorback {
        @apply w-[40px] h-[40px]; /* Medium screens */
      }
    }
  
    @screen lg {
      .arrorback {
        @apply w-[50px] h-[50px]; /* Large screens */
      }
    }
  
    @screen xl {
      .arrorback {
        @apply w-[60px] h-[60px]; /* Extra large screens */
      }
    }
  
    @screen 2xl {
      .arrorback {
        @apply w-[70px] h-[70px]; /* Extra-extra large screens */
      }
    }
  }
  
}



.backgroundimage{
  background-image: url("./component/image/image2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Link-manu-bar{
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik Pro TRIAL";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.partners{
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik Pro TRIAL";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.billionParagraph{
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik Pro TRIAL";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.atomico-ccss{
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: "Monument Grotesk";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.buttonbd{
  color: #012B38;
  font-family: "Aeonik Pro TRIAL";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 24px 0px 0px 0px;
  background: #FFF;
}


.sebstiion{
  color: #012B38;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik Pro TRIAL";
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 64.8px */
}

.kalarna{
  color: #012B38;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik Pro TRIAL";
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}

.readmore{
  color: #012B38;
  font-family: "Aeonik Pro TRIAL";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arrorback{
  fill: #F2F4F4;
  flex-shrink: 0;
  background-color: #F2F4F4;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arrorback:focus ,.arrorback:hover{
  opacity: 50%;
}

.pleacholderss::placeholder{
  color: rgba(255, 255, 255, 0.70);
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik Pro TRIAL";
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}


.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0) !important;
}

.feature {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.feature.visible {
  opacity: 1;
  transform: translateY(0);
}

.featureleft {
  opacity: 0;
  transform: translatey(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.featureleft.visibleleft {
  opacity: 1;
  transform: translatex(0);
}

.fatchanimaction{
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  from {
    transform: translatex(150px);
  }
  to {
    transform: translatex(0);
  }
}

.fatchanimactionright{
  animation-name: exampleright;
  animation-duration: 1s;
}

@keyframes exampleright {
  from {
    transform: translatey(200px);
  }
  to {
    transform: translatey(0);
  }
}

.fatchanimactionnavaction{
  animation-name: examplenavaction;
  animation-duration: 1s;
}

@keyframes examplenavaction {
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}